.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, .2);
}

.modal {
    width: 500px;
    border: 1px solid darkgrey;
    margin: 100px auto;
    padding: 40px 20px;
    border-radius: 6px;
    background: #fef7f2;
}
.button {
    padding: 10px 20px;
    line-height: 1.5;
    background-color: #1e826d;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-right: 5px;
    border: 0;

}



.modal input {
    margin-top: 20px;
}