
.postList {
    width: 500px;
    margin: 0 auto;
}

.postWrapper {
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    margin-top: 20px;
}

.postTitle {
    background-color: #333;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    word-wrap: break-word


}

.linkTitle {
    text-decoration: none;
    color: white;
}

.postContent {
    padding: 10px 20px 10px;
    margin-top: 5px;
    word-wrap: break-word
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like {

    display: inline-block;
    color: #38fac7;
    padding: 0 5px;
    cursor: pointer;
    /*background-image: url("../../assets/images/like.png");*/
}

.wrapLike {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-bottom: 5px;
    width: 100px;

    /*width: 50px;*/
    /*height: 20px;*/


}

.heart {
    position: relative;
    margin: 0 10px;
    /*display: inline-block;*/
    cursor: pointer;
    width: 10px;
    height: 17px;
    background-color: red;
    box-shadow: -1px 0px 2px #444;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    /* Определяем угол наклона */
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

/* Формируем правую часть */
.heart:before {
    position: absolute;
    width: 17px;
    height: 10px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: red;
    box-shadow: 0px 3px 3px #444444;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 0 5px 5px 0;
}

/* Убираем тень при наведении */
.heart:hover:before, .heart:hover {
    box-shadow: none;
}

.dislike {
    position: relative;
    /*display: inline-block;*/
    cursor: pointer;
    margin: 0 10px;
    width: 10px;
    height: 17px;
    background-color: black;
    box-shadow: -1px 0px 2px #444;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    /* Определяем угол наклона */
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

/* Формируем правую часть */
.dislike:before {
    position: absolute;
    width: 17px;
    height: 10px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: black;
    box-shadow: 0px 3px 3px #444444;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 0 5px 5px 0;
}

/* Убираем тень при наведении */
.dislike:hover:before, .dislike:hover {
    box-shadow: none;
}

/*.dislike {*/
/*    color: #f80511;*/
/*    display: inline-block;*/
/*    padding: 0 5px;*/
/*    cursor: pointer;*/
/*}*/

.eye {
    position: relative;
    right: 0;
    border: 2px solid #333;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 75% 15%;
    transform: rotate(45deg);
    margin-right: 5px;
    margin-left: 5px;
}

.eye:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 1px solid #333;
    border-radius: 50%;
}

.viewWrapper {
    display: inline-flex;
    align-items: center;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





