.postWrapper {
    border: 1px solid #333;
    border-radius: 4px;
    width: 500px;
    margin: 20px auto 15px;

}

.postTitle {
    background-color: #333;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    word-wrap: break-word


}

.linkTitle {
    text-decoration: none;
    color: white;
}

.postContent {
    padding: 10px 20px 10px;
    margin-top: 5px;
    word-wrap: break-word
}


.wrapArrows{
margin-top: 15px;
    margin-left: 5px;
}
.wrapContent{
    display: flex;
    flex-direction: row;
}

.like {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #2ba82d;
    cursor: pointer;
}

.like:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #2c822e;

}

.likeOff {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid grey;
    cursor: pointer;
}

.likeOff:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #2ba82d;
}


.dislike {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #b41024;
    cursor: pointer;
}

.dislike:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #7b0b19;
}

.dislikeOff {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid grey;
    cursor: pointer;
}

.dislikeOff:hover {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #b41024;
}

.wrapLike {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    width: 20px;
}

.wrapDislike {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    width: 20px;

}


.eye {
    position: relative;
    right: 0;
    border: 2px solid #333;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 75% 15%;
    transform: rotate(45deg);
    margin-right: 5px;
    margin-left: 5px;
}

.eye:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 1px solid #333;
    border-radius: 50%;
}

.viewWrapper {
    display: inline-flex;
    /*align-items: center;*/
    /*float: right;*/
    margin-right: 0;


}

.footer {
    /*display: flex;*/
    flex-direction: row;
    text-align: right;
    /*justify-content: space-between;*/
}





